:root {
  --primary-color:#4a1985;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Lobster Two', cursive;
  --font-family: 'Poppins', sans-serif;
}


h1 {
  font-size: 96px;

}

.hero-heading{
  margin-top: 120px;
}

h2 {
  font-size: 48px;
  font-family: var(--heading-font-family);
  text-decoration: italic;
  margin-top: 15px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4{
    font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img{
    margin-bottom: 10px;
}

.navbar .nav-link {
  color: black;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--primary-color)!important;
  font-weight: bold;
}


.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 6px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  text-align: center; 
}

.primary-link:hover {
  background: #300a5f;
  transition: all 120ms ease-in-out;
}

.primary-link-wider{
    border-radius: 6px;
    padding: 20px 40px;
    color: white;
    background: var(--primary-color);
    text-decoration: none;
}

.primary-link-wider:hover{
    background: #300a5f;
    transition: all 120ms ease-in-out;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link-header {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.email-link{
    justify-content: center;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.email-link:hover {
  text-decoration: underline;
}

footer{
    margin: 60px 0;
}

footer .socials a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    margin: 0 15px;
}

footer .socials a:hover{
  color: #300a5f;
  transition: all 120ms ease-in-out;
}
footer .contact-box{
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 4px;
}

footer .contact-box p{
    margin: 0;
}

footer .bottom{
    font-size: 15px;
    color: grey
}

@media (max-width: 768px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
 }
 footer .contact-box{
    padding: 30px 30px;
    }
}